<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Connections!</h3>
    <div class="player-select">
      <label for="players">Choose numer of Players:</label>
      <select id="players" class="form-control" ng-model="$ctrl.selectedPlayers" placeholder="2">
        <option value="2">2 (Red & Black)</option>
        <option value="3">3 (Red, Black & Yellow)</option>
        <option value="4">4 (Red, Black, Yellow & Green)</option>
        <option value="5">5 (Red, Black, Yellow, Green & Orange)</option>
      </select>
      <button ng-click="$ctrl.newGame()">Start Game</button>
    </div>
  </div>
  <div class="panel-body text-center">
    <div class="board">
      <div class="row" ng-repeat="row in $ctrl.grid">
        <div class="cell" ng-repeat="cell in row" ng-click="$ctrl.dropToken(cell.col)">
          <div class="token" ng-style="{'background-color': cell.hasToken ? cell.color : '#fff'}"></div>
        </div>
      </div>
    </div>
  </div>
</div>